.content { height: 100% !important; } .fc-col-header, .fc-timegrid-body { width: 100% !important; height: 100% !important; } .fc-scrollgrid-sync-table { width: 100% !important; height: 100% !important; } .fc-daygrid-body { width: 100% !important; height: 100% !important; } .fc-daygrid-body-balanced { width: 100% !important; height: 100% !important; }

#calendar-container {width: 1100px; margin-top: 2rem; margin-bottom: 6rem;}
div.fc-dayGridMonth-view.fc-view.fc-daygrid {margin-top: -2rem;}
/* 
.fc-event-main-frame{
    background-color: brown;
} */

#eventdescription{
    margin-top: 1.5rem;
}